{% extends 'layouts/base.twig' %}

{% block title %}About{% endblock %}

{% block main %}
    <h2>About Image #: {{image.id}}</h2>
        <ul>
            <li>
                <label>id: </label> {{image.id}} <br />
                <label>Assigned Variant: </label> {{variant.title}} <br /> <br />

                <hr>
                <a href='/images/{{ image.id }}/delete'>Delete</a> |
                <a href='/images/{{ image.id }}/edit'>Edit</a>
            </li>
        </ul>

        
{% endblock %}