<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}">
    
    {% if product.id %}
        <input type="hidden" name="id" value="{{ product.id }}" />
    {% endif %}

    <div>
        <label for="title">Name: </label><input type="text" name="title" id="title" placeholder="Name of Product" value="{{ product.title }}"> <br /> <br />
        <label for="title">Slug: </label><input type="text" name="title" id="title" placeholder="Slug Name" value="{{ product.slug }}"> <br /> <br />
        <label for="title">Description: </label><input type="text" name="title" id="title" placeholder="Description" value="{{ product.description }}"> <br /> <br />
        <label for="price">Price: </label><input type="text" name="price" id="price" placeholder="Price of Product" value="{{ product.price }}"> <br /> <br />
        <label for="title">Inventory: </label><input type="text" name="title" id="title" placeholder="Description" value="{{ product.inventory }}"> <br /> <br />
        <label for="title">Product ID: </label><input type="text" name="title" id="title" placeholder="Description" value="{{ product.productId }}"> <br /> <br />
        <br /><br />
        <input type="submit" value="Submit"/>
    </div>
</form>