{% extends 'layouts/base.twig' %}

{% block title %}About{% endblock %}

{% block main %}
    <h2>About: {{product.title}}</h2>
        <ul>
            <li>
                <label>id: </label> {{product.id}} <br />
                <label>Title: </label> {{product.title}} <br />
                <label>Price: $</label> {{product.price}} <br /> <br />

                <hr>
                <a href='/products/{{ product.id }}/delete'>Delete</a> |
                <a href='/products/{{ product.id }}/edit'>Edit</a>
            </li>
        </ul>

        
{% endblock %}